.directory-control {
    background-color: lightgrey;
    padding: 0.5ex 1ex 0.5ex 1ex;
}

.directory-control a {
    padding-left: 1ex;
}

.directory-container {
    max-width: 1024px;
    margin: auto;
    border-style: dashed;
}

.group-card {
    background-color: grey;
    padding: 2ex;
    margin-bottom: 2ex;
}

.group-card header {
    color: black;
    font-size: 18pt;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bold;
}

.student-table {
    padding: 0ex;
}

.student-list {
    background: #cdcdcd;
    font-size: 12pt;
    list-style-type: none;
    padding: 0ex .5ex 0ex .5ex;
}

.student-entry {
    background-color: white;
    padding: 1ex;
    margin: 1ex;
}

.student-entry:nth-child(even)  {
    background-color: lightgray;
}

.student-entry > header {
    padding: 0.5ex;
    font-size: +1;
    font-weight: bold;
}

.student-info {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.student-info > div {
    padding: 0ex 0ex 0ex 2ex;
    margin-bottom: 0.5ex;
}

.parent-info {
    display: inline-grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
}

.nh-school-info {
    display: inline-grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
}

.bus-info {
    display: inline-grid;
    grid-column: span 3;
    grid-template-columns: subgrid;
}

